.users__name-cell {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--cf-space-2);
}

.users__roles {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cf-space-1);
  align-items: center;
}
