<section class="cf-panel cf-section-card">
  <div class="cf-section-card__header" *ngIf="title || collapsible">
    <h2 *ngIf="title" class="cf-section-card__title">{{ title }}</h2>
    <div class="cf-section-card__header-actions">
      <ng-content select="[sectionActions]"></ng-content>
      <app-section-collapse-toggle
        *ngIf="collapsible"
        [expanded]="expanded"
        [expandLabel]="expandLabel"
        [collapseLabel]="collapseLabel"
        (toggled)="onToggle()"
      ></app-section-collapse-toggle>
    </div>
  </div>

  <div class="cf-section-card__body" *ngIf="!collapsible || expanded">
    <ng-content></ng-content>
  </div>
</section>
